body{
    background: rgb(192, 192, 181);
    margin: 0;
}
form{
    margin: auto;
    margin-top: 5px;
    width: 600px;
    height: 1200px;
    background: rgba(146, 167, 162, 0.9);
}
.shapka{
    width: 600px;
    height: 250px;

}
footer{
    position: relative;
    width: 600px;
    height: 100px;
    top: -167px;
    background: rgba(25, 58, 63, 0.9);
}
.ava{
position: relative;
top: -204px;
left: 50px;
width: 150px;
height: 150px;
border-radius: 80px;
overflow: hidden;
}
.ava1{
    position: relative;
    top: -50px;     
}
h2{
    position: relative;
    font-style: normal;
    top: -340px;
    left: 220px; 
}
h3{
    position: relative;
    font-style: normal;
    top: -355px;
    left: 260px; 
}
.contacts1{
    position: relative;
    top: 30px;
    left: -20px;
}
.contacts2{
    position: relative;
    top: 20px;
    left: -5px;
}
.contacts3{
    position: relative;
    top: 20px;
    left: 0px;
}
.contacts4{
    position: relative;
    top: -65px;
    left: 10px;
}
.contacts5{
    position: relative;
    top: -0px;
    left: -10px;
}
.h41{
    position: relative;
    text-align: left;
    font-size: 25px;
    top: -10px;
    left: 70px;
    margin-left: 20px;
    width: 470px;
    border-bottom: 2px solid black;
}
.h42{
    position: relative;
    text-align: left;
    font-size: 25px;
    top: -60px;
    left: 70px;
    margin-left: 20px;
    width: 470px;
    border-bottom: 2px solid black;
}
.h43{
    position: relative;
    text-align: left;
    font-size: 25px;
    top: -110px;
    left: 70px;
    margin-left: 20px;
    width: 470px;
    border-bottom: 2px solid black;
}
.h44{
    position: relative;
    text-align: left;
    font-size: 25px;
    top: -160px;
    left: 70px;
    margin-left: 20px;
    width: 470px;
    border-bottom: 2px solid black;
}
.p1{  
    position: relative;
    text-align:justify;
    font-size: 18px;
    top: -45px;
    padding: 5px;
    margin: 40px;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.p2{  
    position: relative;
    text-align:justify;
    font-size: 18px;
    top: -95px;
    padding: 5px;
    margin: 40px;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.p3{  
    font-size: 15px;
    position: relative;
    text-align:justify;
    top: -145px;
    padding: 5px;
    margin:  40px;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.contacts{
    position: relative;
    top: -195px;
    padding: 5px;
    margin: 40px;
    height: 120px;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
li{
    position: relative;
    left: 20px;
}
.contacts li{
    top: -50px;
}
.contacts .li1{
    top: -50px;
}
.contacts .li2{
    top: -70px;
}
.contacts .li3{
    top: -80px;
}
.contacts .li4{
    top: -70px;
}
ul{
    border: 1px solid black;
}
.date{
    position: relative;
    top: -110px;
    left: 200px;
    font-size: 25px;
    font-weight: 600;
}